@import "tailwindcss";

@plugin "tailwindcss-animate";

@custom-variant dark (&:is(.dark *));

:root {
  /* --radius: 0.625rem; */

  --radius: 0.225rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.129 0.042 264.695);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.129 0.042 264.695);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.129 0.042 264.695);
  /* --primary: oklch(0.208 0.042 265.755); */
  --primary: oklab(0.52 -0.06 0.02);
  --primary-light: oklab(0.62 -0.06 0.02);
  --primary-lighter: oklab(0.72 -0.06 0.02);
  --primary-dark: oklab(0.72 -0.06 0.02);
  --primary-darker: oklab(0.72 -0.06 0.02);
  --primary-foreground: oklch(0.984 0.003 247.858);
  --secondary: oklch(0.968 0.007 247.896);
  --secondary-foreground: oklch(0.208 0.042 265.755);
  --muted: oklch(0.968 0.007 247.896);
  --muted-foreground: oklch(0.554 0.046 257.417);
  --accent: oklch(0.968 0.007 247.896);
  --accent-foreground: oklch(0.208 0.042 265.755);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.929 0.013 255.508);
  --input: oklch(0.929 0.013 255.508);
  --ring: oklch(0.704 0.04 256.788);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.984 0.003 247.858);
  --sidebar-foreground: oklch(0.129 0.042 264.695);
  --sidebar-primary: oklch(0.208 0.042 265.755);
  --sidebar-primary-foreground: oklch(0.984 0.003 247.858);
  --sidebar-accent: oklch(0.918 0.007 247.896);
  --sidebar-accent-foreground: oklch(0.208 0.042 265.755);
  --sidebar-border: oklch(0.929 0.013 255.508);
  --sidebar-ring: oklch(0.704 0.04 256.788);
}

.dark {
  --background: oklch(0.129 0.042 264.695);
  --foreground: oklch(0.984 0.003 247.858);
  --card: oklch(0.208 0.042 265.755);
  --card-foreground: oklch(0.984 0.003 247.858);
  --popover: oklch(0.208 0.042 265.755);
  --popover-foreground: oklch(0.984 0.003 247.858);
  /* --primary: oklch(0.929 0.013 255.508); */
  --primary: oklab(0.52 -0.06 0.02);
  --primary-light: oklab(0.62 -0.06 0.02);
  --primary-lighter: oklab(0.72 -0.06 0.02);
  --primary-dark: oklab(0.72 -0.06 0.02);
  --primary-darker: oklab(0.72 -0.06 0.02);
  --primary-foreground: oklch(0.208 0.042 265.755);
  --secondary: oklch(0.279 0.041 260.031);
  --secondary-foreground: oklch(0.984 0.003 247.858);
  --muted: oklch(0.279 0.041 260.031);
  --muted-foreground: oklch(0.704 0.04 256.788);
  --accent: oklch(0.279 0.041 260.031);
  --accent-foreground: oklch(0.984 0.003 247.858);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.551 0.027 264.364);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.208 0.042 265.755);
  --sidebar-foreground: oklch(0.984 0.003 247.858);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.984 0.003 247.858);
  --sidebar-accent: oklch(0.279 0.041 260.031);
  --sidebar-accent-foreground: oklch(0.984 0.003 247.858);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.551 0.027 264.364);
}

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

/* CUSTOM */

* {
  outline: none;
}
*:focus {
  outline: none;
}
/* BUTTON */

.ripple {
  position: relative;
  overflow: hidden;
  transform: translate3d(0, 0, 0);
}

.ripple:after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
  background-image: radial-gradient(circle, #64748b 10%, transparent 10.01%);
  background-repeat: no-repeat;
  background-position: 50%;
  transform: scale(10, 10);
  opacity: 0;
  transition:
    transform 0.5s,
    opacity 1s;
}

.ripple:active:after {
  transform: scale(0, 0);
  opacity: 0.2;
  transition: 0s;
}

/* SPLASH SCREEN */
.logo-animate {
  animation: logoAnimation 3s ease-in-out infinite;
}

.outer-circle {
  animation: outerCircleAnimation 3.2s linear infinite;
}

.inner-circle {
  animation: circleAnimation 3.2s linear infinite;
}

@keyframes logoAnimation {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  16% {
    transform: scale(0.9);
    opacity: 0.48;
  }
  32% {
    transform: scale(0.9);
    opacity: 0.48;
  }
  48% {
    transform: scale(1);
    opacity: 1;
  }
  64% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes circleAnimation {
  0% {
    transform: scale(1.6) rotate(270deg);
    opacity: 0.25;
    border-radius: 25%;
  }
  25% {
    transform: scale(1) rotate(0deg);
    opacity: 1;
    border-radius: 25%;
  }
  50% {
    transform: scale(1) rotate(0deg);
    opacity: 1;
    border-radius: 50%;
  }
  75% {
    transform: scale(1.6) rotate(270deg);
    opacity: 1;
    border-radius: 50%;
  }
  100% {
    transform: scale(1.6) rotate(270deg);
    opacity: 0.25;
    border-radius: 25%;
  }
}
@keyframes outerCircleAnimation {
  0% {
    transform: scale(1) rotate(0deg);
    opacity: 1;
    border-radius: 25%;
  }
  25% {
    transform: scale(1.2) rotate(270deg);
    opacity: 0.25;
    border-radius: 25%;
  }
  50% {
    transform: scale(1.2) rotate(270deg);
    opacity: 0.25;
    border-radius: 50%;
  }
  75% {
    transform: scale(1) rotate(0deg);
    opacity: 0.25;
    border-radius: 50%;
  }
  100% {
    transform: scale(1) rotate(0deg);
    opacity: 1;
    border-radius: 25%;
  }
}
/* END-SPLASH-SCREEN */

/* LOADING SCREEN */
.loading-screen {
  animation: loading 2s linear infinite;
}

@keyframes loading {
  0% {
    transform: translateX(-100px);
  }
  50% {
    transform: translateX(160px);
  }
  100% {
    transform: translateX(420px);
  }
}

/* END-LOADING-SCREEN */
/* UKO LOADING-SCREEN */
.uko-loading-screen {
  background: linear-gradient(
      45deg,
      var(--primary-dark),
      var(--primary),
      oklch(0.97 0.01 0),
      oklch(0.65 0.2 10.69),
      var(--primary-lighter)
    )
    0% 0% / 300%;
  animation: 20s linear 0s infinite normal none running ukoAnimation;
}
@keyframes ukoAnimation {
  0% {
    background-position: 0px 0px;
  }

  50% {
    background-position: 400% 0%;
  }

  100% {
    background-position: 0px 0px;
  }
}

/* END-UKO-LOADING-SCREEN  */

.bgo-responsive {
  background-image: url("/purfect/slide10.avif");
  background-size: cover;
  background-position: cover;
}

@media (min-width: 768px) {
  /* md: từ 768px trở lên */
  .bgo-responsive {
    background-image: url("/purfect/img11.avif");
  }
}

/* TIPTAP */

/* Basic editor styles */
.tiptap {
  > *:first-child {
    margin-top: 0;
  }

  img {
    display: block;
    margin: 1rem auto;
    border-radius: 0.5rem;
    max-width: 100%;
    object-fit: contain;
  }

  /* Link */
  a {
    color: var(--primary);
    text-decoration: underline;
  }

  ul,
  ol {
    padding: 0 1rem;
    margin: 1.25rem 1rem 1.25rem 0.4rem;
  }

  ul {
    list-style-type: disc;
  }

  ol {
    list-style-type: decimal;
  }

  li p {
    margin-top: 0.25em;
    margin-bottom: 0.25em;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    line-height: 1.1;
    margin-top: 2.5rem;
    text-wrap: pretty;
  }

  h1,
  h2 {
    margin-top: 3.5rem;
    margin-bottom: 1.5rem;
  }

  h1 {
    font-size: 1.4rem;
  }

  h2 {
    font-size: 1.2rem;
  }

  h3 {
    font-size: 1.1rem;
  }

  h4,
  h5,
  h6 {
    font-size: 1rem;
  }

  /* Code */
  code {
    background-color: var(--purple-light);
    border-radius: 0.4rem;
    color: var(--black);
    font-size: 0.85rem;
    padding: 0.25em 0.3em;
  }

  pre {
    background: var(--black);
    border-radius: 0.5rem;
    color: var(--white);
    font-family: "JetBrainsMono", monospace;
    margin: 1.5rem 0;
    padding: 0.75rem 1rem;
  }

  pre code {
    background: none;
    color: inherit;
    font-size: 0.8rem;
    padding: 0;
  }

  /* Blockquote */
  blockquote {
    border-left: 3px solid var(--gray-3);
    margin: 1.5rem 0;
    padding-left: 1rem;
  }

  /* Dòng kẻ ngang */
  hr {
    border: none;
    border-top: 1px solid var(--gray-2);
    margin: 2rem 0;
  }
}
